.maindiv{
    height: 300px;
    width: 30%;
    margin: 40px;
    margin-left: 260px;
    border: 1px solid black;
    background-color: rgb(52, 38, 38);
    border-radius: 12px;
}

.input{
    height: 40px;
    margin-top: 10px;
    margin-left: 2px;
    border-radius: 10px;
    width: 98%;
    background-color: rgb(141, 174, 203);
}

input{
    background-color: aqua;
    
}
input::placeholder{
    color: black;
}

body {
    
    background-color: black;
    
}    

#one{
    display: flex;
    color: whitesmoke;
    margin-top: 20px;
}

.four{
    height: 35px;
    width: 57px;
    margin-top: 3px;
    cursor: pointer;
    border: 1px solid rgb(241, 8, 8);
}

#two{
    display: flex;
    color: white;
}



#three{
    display: flex;
    color: white;
}

#four{
    display: flex;
    color: white;
}

#five{
    display: flex;
    color: white;
}

#equal{
    float: right;
    height:153px ;
    color: white;
    padding-top: 60px;
    cursor: pointer;
    box-sizing: border-box;
    width: 54px;
    margin-top: 3px;
    border: 1px solid red;
}

.four:hover{
    background-color: aqua;
    color: black;
}

#equal:hover{
    background-color:aqua;
    color: black;
}